<div class="row">
	<div class="col">
		<form id="add-form">
			<div class="form-group">
				<label for="number-one">Number One</label>
				<input type="number" id="number-one" class="form-control" name="num1" placeholder="Number one">
			</div>

			<div class="form-group">
				<label for="number-two">Number Two</label>
				<input type="number" id="number-two" class="form-control" name="num2" placeholder="Number two">
			</div>

			<button type="submit" class="btn btn-primary">Add</button>
		</form>

		<div id="add-view"></div>

		<script>
			document.querySelector('#add-form').onsubmit = function(e) {
				e.preventDefault();

				const data = new FormData(e.target);

				// Ensure every input has a value
				for (var [key, value] of data.entries()) { 
					if (!value) {
						document.querySelector('#add-form input[name="' + key + '"]').focus();
						return;
					}
				}

				sendPost('example/add', data, view => document.querySelector('#add-view').innerHTML = view);
			};
		</script>
	</div>
</div>